@import 'utils-color';

.header {
  width: 100%;
  position: sticky;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    margin: 0 auto;
  }

  &__logo {
    width: 150px;
  }

  &__nav {
    display: flex;
    width: 400px;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $light-font-color;
      font-weight: 700;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }

  &__language button {
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__language span {
    font-weight: 700;
    color: $light-font-color;
    padding: 0 4px;
  }
}


.mat-raised-button {
  color: $light-font-color;
  background-color: $dark-fon-color;
  opacity: 1;
}

.mat-raised-button:hover {
  opacity: 0.8;
}
