<header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <img src="../../../../assets/img/logo.png" alt="logo">
    </a>
    <div class="header__right">
      <div class="header__language">
        <a href="#" class="header__en">EN</a>
        /
        <a href="#" class="header__ru">RU</a>
      </div>
      <div class="header__buttons">
        <button mat-raised-button color="primary">Sign Up</button>
        <button mat-raised-button color="primary" routerLink="/auth">Log In</button>
      </div>
    </div>
  </div>
</header>
