<header class="header" [ngStyle] ="{'background-color': bgColor}" *transloco="let t" id="header">
  <div class="header__wrapper">
    <a href="#">
      <img [src]="logoSource" class="header__logo" alt="logo">
    </a>
    <div class="header__nav" *ngIf="headerNavigation">
      <a class="header__nav-txt" href="#">{{t('header.boardsBtn')}}</a>
      <a class="header__nav-txt" routerLink="/edit-profile">{{t('header.profileBtn')}}</a>
    </div>
    <div class="header__nav-small" *ngIf="headerNavigation">
    <button class="header__nav-menu" mat-button [matMenuTriggerFor]="menu">{{t('header.menu')}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="#">{{t('header.boardsBtn')}}</button>
      <button mat-menu-item routerLink="/edit-profile">{{t('header.profileBtn')}}</button>
    </mat-menu>
  </div>

    <div class="header__right">
      <div class="header__language">


        <button class="header__en" [ngStyle] ="{'color': languageButtonColor}" (click)="setLang('en')">En</button>
        <span [ngStyle] ="{'color': languageButtonColor}">/</span>
        <button class="header__ru" [ngStyle] ="{'color': languageButtonColor}" (click)="setLang('ru')">Ru</button>
      </div>
      <div class="header__buttons" *ngIf="headerButtons">
        <button mat-raised-button routerLink="/auth/signup">{{t('header.singUpBtn')}}</button>
        <button mat-raised-button routerLink="/auth/login">{{t('header.logInBtn')}}</button>
      </div>
      <div class="header__button" *ngIf="!headerButtons">
        <button class="header__button-logo" mat-raised-button (click)="logOut()">
          <img class="header__button-icon" src="../../../../assets/icons/login-man.svg" alt="login-man">
          {{t('header.logInOut')}}
        </button>
      </div>
    </div>
  </div>
</header>
