@import 'utils-color';
@import "breakpoint";

.header {
  width: 100%;
  transition: 0.7s;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin: 0 auto;
  }

  &__logo {
    width: 90px;
  }

  &__nav {
    display: flex;
    width: 35%;
    justify-content:  space-between;

    & a {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      color: $light-font-color;
      &:hover {
        opacity: .7;
      }
    }
  }

  &__right {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
  }

  &__language button {
    border: none;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }

  &__buttons {
    display: flex;
    gap: 5px;
  }

  &__button-icon {
    width: 12px;
  }

  &__language span {
    padding: 0 4px;
    font-weight: 700;
    color: $light-font-color;
  }
}
.mat-raised-button {
  color: $light-font-color;
  background-color: $dark-fon-color;
  opacity: 1;
}
.mat-raised-button:hover {
  opacity: 0.7;
}

.sticky {
  position: fixed;
  top: 0;
  box-shadow: $shadow-card;
  opacity: 0.7;
}

.header__nav-menu {
  font-size: 11px;
  font-weight: 400;
  color: $light-font-color;
  display: none;
  &:hover {
    opacity: 0.7;
  }
}
.mat-form-field {
  width: 60px;
  color: $light-font-color;
}

@media screen and (max-width: $mq-tablet) {
  .header__wrapper {
    padding: 10px 20px;
  }
  .header,
  .mat-raised-button,
  .header__en,
  .header__ru,
  .header__nav a  {
    font-size: 11px;
    font-weight: 400;
  }
  .header__logo {
    width: 60px;
  }
  .header__buttons {
    gap: 3px;
  }
}

@media screen and (max-width: $mq-small) {
  .header__nav {
    width: auto;
  }
  .header__nav-menu {
    display: flex;
  }
  .header__nav-txt {
    display: none;
  }
  .header__button-logo {
    width: 70px;
    padding: 2px 5px;
    margin-left: 10px;
  }
  .header__right {
    width: auto;
  }
}
