@import 'utils-color';

.header {
  width: 100%;
  background: $light-blue-fon-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    margin: 0 auto;
  }

  &__logo {
    width: 70px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }

  &__language button {
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}


.mat-raised-button {
  color: #fff;
  background-color: #00093C;
  opacity: 1;
}

.mat-raised-button:hover {
  opacity: 0.8;
}
