<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__githubs">
      <a href="https://github.com/SmSka2021">
        <img class="footer__githubs-img" src="../../../../assets/img/githubSv.png" alt="github-acc">
      </a>
      <a href="https://github.com/Britva1910">
        <img class="footer__githubs-img" src="../../../../assets/img/githubIv.png" alt="github-acc">
      </a>
      <a href="https://github.com/udushanov">
        <img class="footer__githubs-img" src="../../../../assets/img/githubUl.png" alt="github-acc">
      </a>
    </div>
    <div class="footer__rs-logo">
      <a href="https://rs.school">
        <img  class="footer__githubs-img" src="../../../../assets/img/rs-school.png" alt="rs-school">
      </a>
    </div>
  </div>
</footer>
