<header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <img src="../../../../assets/img/light-logo.png" alt="logo">
    </a>
    <div class="header__nav">
      <a href="#">All boards</a>
      <a href="#">Edit profile</a>
    </div>
    <div class="header__right">
      <div class="header__language">
        <button class="header__en">EN</button>
        <span>/</span>
        <button class="header__ru">RU</button>
      </div>
      <div class="header__buttons">
        <img src="../../../../assets/icons/login-man.svg" alt="login-man">
        <button mat-raised-button>Log Out</button>
      </div>
    </div>
  </div>
</header>
