@import "utils-color";
@import "mixins";

.wrapper {
  height: calc(100vh - 113px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/assets/img/light-fon.jpg");
  background-size: contain;
}

.modal-container {
  margin-top: 5%;
  width: 40%;
  background-color: $light-blue-fon-color;
  border: 2px solid $btn-add-hover-color;
  border-radius: 6px;
}

.personal-information {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include title-page;
  color: $light-font-color;

  img {
    width: 200px;
    border-radius: 100%;
  }
}

.user-login,
.user-name {
  color: $dark-fon-color;
  span {
    color: $dark-blue-font-color;
  }
}

.btn {
  background-color: $light-blue-fon-color;
  border: 2px solid $btn-add-hover-color;
  color: $dark-blue-font-color;
}

.text-warning {
  color: $text-warning;
}
