<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <mat-form-field appearance="fill" class="field">
    <input matInput type="text" placeholder="Please enter your name" formControlName="name" required />
  </mat-form-field>
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      type="text"
      placeholder="Please enter a your login"
      formControlName="login"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      type="text"
      placeholder="Please enter a password"
      formControlName="password"
      required
    />
  </mat-form-field>
  <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">Sing up</button>
</form>
