<form [formGroup]="form" *transloco="let t" class="container">
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      type="text"
      [placeholder]="t('auth.singUp.name-plh')"
      formControlName="name"
    />
    <mat-error *ngIf="name.invalid">
      <span *ngIf="name.errors?.['required']">{{
        t("forms.errors.enterName")
      }}</span>
      <div *ngIf="name.errors?.['minlength']">
        {{ t("forms.errors.lengthName") }}
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      type="text"
      [placeholder]="t('auth.singUp.login-plh')"
      formControlName="login"
    />
    <mat-error *ngIf="login.invalid">
      <span *ngIf="login.errors?.['required']">{{
        t("forms.errors.enterLogin")
      }}</span>
      <div *ngIf="login.errors?.['minlength']">
        {{ t("forms.errors.lengthLogin") }}
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [placeholder]="t('auth.singUp.password-plh')"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">
      <span *ngIf="password.errors?.['required']">{{
        t("forms.errors.enterPass")
      }}</span>
      <div *ngIf="password.errors?.['minlength']">
        {{ t("forms.errors.lengthPass") }}
      </div>
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="!form.valid"
    (click)="onSubmit()"
    color="primary"
    type="submit"
  >
    {{ t("auth.singUp.btn") }}
  </button>
</form>
