@import "mixins";
.errorPage {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorPage__title {
  @include not-found-text
}

.errorPage__img {
  width: 100px;
  height: 91px;
}
