<div class="mb-2">
  <h4 class="title-task">{{item.title}}</h4>

  <button class="edit-task-btn" type="button" (click)="updateTask(item.id)"><img class="edit-task-img" src="../../../../../assets/icons/correct_pencil.svg" alt="icon"/></button>
   <p class="description-task">{{item.description}}</p>
  <img class="img-task" src="../../../../../assets/img/members2.png" alt="icon">

  <app-app-confirm [data]="data" (emitConfirm)="deleteOneTask($event, item.id)"><button mat-icon-button class="icon-delete" type="button">
    <mat-icon class="btn-delete">delete</mat-icon>
  </button></app-app-confirm>

</div>
