<section class="wrapper__board-page">
  <ngx-spinner *transloco="let t" id="header" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"  type="ball-scale-multiple">
    <p>{{t('spinner')}}...</p>
  </ngx-spinner>
  <div class="board-page__container-title">
    <h2 class="board-page__title">{{title$ | async}}</h2>
    <p class="title-today">{{today | date }}</p>
  </div>
  <h3 class="board-page__description">{{description$ | async}}</h3>
  <!--<img class="board-page__img" src="../../../assets/img/members.png" alt="icon">-->
  <div class="container-label-user">
    <span *ngFor="let user of usersTask$ | async" class="name-user" [ngStyle]="{background: colorUser(user[0])}"
      (click)="setCheckUser(user[0])">{{user[0]}}</span>
  </div>
  <app-tasks-user *ngIf="openTasksOneUser | async" [userTasks]="checkUser"></app-tasks-user>
  <hr class="board-page__line">

  <div class="board-page__container">
    <app-board-container></app-board-container>
  </div>
  <app-dialog (emitText)="onAddColumn($event)" *transloco="let t">
    <button class="board-page__btn_add-column" (click)="setOneFieldForm()"
      type="button">{{t('board.btn.addColumn')}}</button>
  </app-dialog>
</section>
