<section class="wrapper__board-page">
  <div class="board-page__container-title">
    <h2 class="board-page__title">{{title$ | async}}</h2>
    <p class="title-today">{{today | date }}</p>
  </div>
  <h3 class="board-page__description">{{description$ | async}}</h3>
  <img class="board-page__img" src="../../../assets/img/members.png" alt="icon">
  <hr class="board-page__line">

  <div class="board-page__container">
      <app-board-container></app-board-container>
  </div>
  <app-dialog (emitText)="onAddColumn($event)">
    <button class="board-page__btn_add-column" (click)="setOneFieldForm()" type="button">More Column +</button>
  </app-dialog>
</section>
