@import "utils-color";
.wrapper__board-page {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Poppins";
  color: $light-font-color;
  background-image: url("../../../assets/img/dark-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.board-page__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}
