<article class="delete">
  <div class="delete__wrapper">
    <div class="delete__outer"></div>
      <div class="delete__inner">
        <h2 class="delete__title">Are you sure?</h2>
        <p class="delete__subtitle">Delete board</p>
        <div class="delete__buttons">
          <button type="button" class="delete__button" (click)="remove()">Delete</button>
          <button type="button" class="delete__button cancel" (click)="cancel()">Cancel</button>
        </div>
      </div>
  </div>
</article>

