@import "utils-color";

@mixin not-found-text {
  font: {
    family: 'Volkhov';
    size: 25px;
    weight: bold;
  }
 color: $grey-color;
}

@mixin title-page {
  @include not-found-text;
  color: $dark-font-color;
}


@mixin title-column {
  font: {
    family: 'Volkhov';
    size: 16px;
    weight: bold;
  }
  color: $dark-font-color;
}

@mixin description-task {
  font: {
    family: 'Volkhov';
    size: 12px;
    weight: normal;
  }
  color: $description-color;
}
