$dark-fon-color: #00093C;
$light-fon-color: #F5F5F5;
$light-blue-fon-color: #c2cdee;
$card-color: #f7f5d9;
$light-font-color: #FFFFFF;
$dark-font-color: #0D0F43;
$btn-delete-color: #E06FA9;
$red-color: #851850;
$btn-add-color: #bccaf0;
$btn-add-hover-color: #9bb1eb;
$grey-color: #5e5358;
$light-grey-color: #dad6d7;
$description-color: #2c282a;
$shadow-card: 0.4em 0.4em 5px rgba(122, 122, 122, 0.6);
$shadow-title-column: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12);

