$dark-fon-color: #00093C;
$light-fon-color: #F5F5F5;
$light-blue-fon-color: #c2cdee;
$light-font-color: #FFFFFF;
$dark-font-color: #0D0F43;
$btn-delete-color: #E06FA9;
$btn-add-color: #bccaf0;
$btn-add-hover-color: #9bb1eb;
$grey-color: #5e5358;
$description-color: #2c282a;

