<article class="edit" *transloco="let t">
  <div class="edit__wrapper">
    <div class="edit__outer"></div>
      <div class="edit__inner">
        <form class="form">
          <h2 class="form__title">{{ t('forms.edit') }}</h2>
          <mat-form-field appearance="standard">
            <mat-label>{{ t('forms.title') }}</mat-label>
            <input matInput [(ngModel)]="title" [ngModelOptions]="{standalone: true}" type="text" required/>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>{{ t('forms.description') }}</mat-label>
            <textarea matInput [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="area" required></textarea>
          </mat-form-field>
          <div class="form__buttons">
            <button
              type="button"
              mat-raised-button
              class="btn-close btn"
              (click)="cancel()"
            >
              {{ t('board.btn.cancel') }}
            </button>
            <button
              type="button"
              mat-raised-button
              [disabled]="title === '' || description === ''"
              class="btn" color="primary"
              (click)="edit()"
            >
              {{ t('forms.save') }}
            </button>
          </div>
        </form>
      </div>
  </div>
</article>

