<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      type="text"
      placeholder="Please enter a login"
      formControlName="login"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="field">
    <input
      matInput
      type="text"
      placeholder="Please enter a password"
      formControlName="password"
      required
    />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
