<footer class="footer" [ngStyle] ="{'background-color': bgColor}">
  <div class="footer__wrapper">
      <a href="https://github.com/SmSka2021">
        <img [src]="imgSourceSv" class="footer__githubs-img" alt="github-acc">
      </a>
      <a href="https://github.com/Britva1910">
        <img [src]="imgSourceIv" class="footer__githubs-img" alt="github-acc">
      </a>
      <a href="https://github.com/udushanov">
        <img [src]="imgSourceUl" class="footer__githubs-img" alt="github-acc">
      </a>
      <a href="https://rs.school">
        <img [src]="imgSourceRS" class="footer__githubs-img" alt="rs-school">
      </a>
  </div>
</footer>
