@import 'utils-color';

.footer {
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 70px;
    margin: 0 auto;
  }

  &__githubs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 300px;
  }

  &__githubs a {
    opacity: 0.8;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  &__rs-logo {
    position: absolute;
    right: 40px;
  }

  &__rs-logo a {
    opacity: 0.8;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

.footer__githubs-img {
  width: 50px;
}
