<div cdkDropListGroup class="container-column">
  <div class="column" *ngFor="let column of columns$ | async; let i = index">
    <div class="column__title-container">
      <div class="title-column" (click)="hideTitleColumn(i, column.id)">
        <h3 class="title">{{column.title}}</h3>
      </div>
      <div class="edit-container">
        <button class="button-edit-input close-edit" (click)="showTitleColumn(i)">X</button>
        <button class="button-edit-input save-edit" (click)="updateTitleColumn(column.id, i)">V</button>
        <input class="title-input" [(ngModel)]="titleColumn">
      </div>
      <app-app-confirm [data]="data" (emitConfirm)="deleteColumn($event, column.id)">
        <button mat-icon-button class="icon-delete" type="button">
          <img src="./../../../../../assets/icons/delete.svg" alt="icon">
        </button>
      </app-app-confirm>
    </div>
    <hr class="board-page__line">
    <app-dialog (emitText)="addNewTask($event, column.id)">
      <button mat-raised-button class="btn-add-task" type="button" (click)="setTwoFieldForm()">Add task +</button>
    </app-dialog>
    <app-edit-task *ngIf="isShow$ | async"></app-edit-task>>
    <div class="example-list" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
      <div cdkDrag class="example-box" *ngFor="let item of column.tasks">
        <app-item-board [item]="item" (emitEditTask)="editTask($event, column.id)"
          (emitDeleteTask)="onDeleteTask($event, column.id)"></app-item-board>
      </div>
    </div>
  </div>
</div>
