<section class="section-wrapper dark-bg">
  <div class="two-columns">
    <div class="page-title-container">
      <h2 class="main-title">KANBAN</h2>
      <p class="subtitle">organizer</p>
      <button mat-raised-button>Create new project</button>
    </div>
    <img class="main-img" src="./assets/img/img-welcome-page.png" />
  </div>
</section>
<section class="section-wrapper light-bg">
  <h3>Advantages</h3>
  <div class="three-columns">
    <!--компонент с карточкой-->
  </div>
</section>
<section class="section-wrapper dark-bg">
  <h3>Development Team</h3>
  <div class="three-columns">
    <!--компонент с карточкой-->
  </div>
</section>
