<section class="section-wrapper main-section dark-bg" *transloco="let t">
  <div class="two-columns">
    <div class="page-title-container">
      <h2 class="main-title">KANBAN</h2>
      <p class="subtitle">organizer</p>
      <button mat-raised-button>{{t('welcome.btn')}}</button>
    </div>
    <img class="main-img" src="./assets/img/img-welcome-page.png" alt="img"/>
  </div>
</section>
<section class="section-wrapper light-bg" *transloco="let t">
  <h3 class="block-title">{{t('welcome.subtitle-1')}}</h3>
  <div class="three-columns">
    <app-advantage-card
      *ngFor="let item of advantagesData"
      [advantageData]="item"
    >
    </app-advantage-card>
  </div>
</section>
<section class="section-wrapper dark-bg" *transloco="let t">
  <h3 class="block-title-light">{{t('welcome.subtitle-2')}}</h3>
  <div class="three-columns">
    <app-teammate
      *ngFor="let teammate of teemData"
      [teammateData]="teammate"
    ></app-teammate>
  </div>
</section>
