<section class="section-wrapper main-section dark-bg">
  <div class="two-columns">
    <div class="page-title-container">
      <h2 class="main-title">KANBAN</h2>
      <p class="subtitle">organizer</p>
      <button mat-raised-button>Create new project</button>
    </div>
    <img class="main-img" src="./assets/img/img-welcome-page.png" />
  </div>
</section>
<section class="section-wrapper light-bg">
  <h3 class="block-title">Advantages</h3>
  <div class="three-columns">
    <app-advantage-card
      *ngFor="let item of advantagesData"
      [advantageData]="item"
    ></app-advantage-card>
  </div>
</section>
<section class="section-wrapper dark-bg">
  <h3 class="block-title-light">Development Team</h3>
  <div class="three-columns">
    <app-teammate
      *ngFor="let teammate of teemData"
      [teammateData]="teammate"
    ></app-teammate>
  </div>
</section>
