<article class="list">
  <ul class="list__wrapper">
    <li class="list__item">
      <div class="list__outer">
        <img src="../../../../../assets/img/Frame 41.png" alt="create" class="list__img">
        <h2 class="list__subtitle">Create new board</h2>
      </div>
    </li>
    <li class="list__item">
      <div class="list__outer">
        <div class="list__inner">
          <h3 class="list__title">Project 1</h3>
          <div class="list__buttons">
            <button class="list__button">
              e
            </button>
            <button class="list__button">
              x
            </button>
          </div>
        </div>
        <div class="list__date">May 20, 2020</div>
        <textarea cols="30" rows="10" placeholder="describe this project"></textarea>
      </div>
    </li>
    <li class="list__item">
      <div class="list__outer">
        <div class="list__inner">
          <h3 class="list__title">Project 1</h3>
          <div class="list__buttons">
            <button class="list__button">
              e
            </button>
            <button class="list__button">
              x
            </button>
          </div>
        </div>
        <div class="list__date">May 20, 2020</div>
        <textarea cols="30" rows="10" placeholder="describe this project"></textarea>
      </div>
    </li>
    <li class="list__item">
      <div class="list__outer">
        <div class="list__inner">
          <h3 class="list__title">Project 1</h3>
          <div class="list__buttons">
            <button class="list__button">
              e
            </button>
            <button class="list__button">
              x
            </button>
          </div>
        </div>
        <div class="list__date">May 20, 2020</div>
        <textarea cols="30" rows="10" placeholder="describe this project"></textarea>
      </div>
    </li>
    <li class="list__item">
      <div class="list__outer">
        <div class="list__inner">
          <h3 class="list__title">Project 1</h3>
          <div class="list__buttons">
            <button class="list__button">
              e
            </button>
            <button class="list__button">
              x
            </button>
          </div>
        </div>
        <div class="list__date">May 20, 2020</div>
        <textarea cols="30" rows="10" placeholder="describe this project"></textarea>
      </div>
    </li>
    <li class="list__item">
      <div class="list__outer">
        <div class="list__inner">
          <h3 class="list__title">Project 1</h3>
          <div class="list__buttons">
            <button class="list__button">
              e
            </button>
            <button class="list__button">
              x
            </button>
          </div>
        </div>
        <div class="list__date">May 20, 2020</div>
        <textarea cols="30" rows="10" placeholder="describe this project"></textarea>
      </div>
    </li>
  </ul>
</article>
