<article class="sort">
  <div class="sort__wrapper">
    <div class="sort__item">
      <div class="sort__title">Sort by (Default)</div>
      <button class="sort__button">
        <img class="sort__img" src="../../../../../assets/icons/heroicons-outline_sort-descending.svg" alt="sort-type">
      </button>
    </div>
    <div class="sort__item">
      <button class="sort__button">
        <img src="../../../../../assets/icons/heroicons-outline_view-grid.svg" alt="grid-view">
      </button>
      <button class="sort__button">
        <img src="../../../../../assets/icons/heroicons-outline_menu.svg" alt="menu">
      </button>
    </div>
  </div>
</article>
